<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.init.luckyfriend" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To access accounts configured on device -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To use account credentials -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".activity.Singleton"
        android:allowBackup="true"
        android:icon="@drawable/heart_icon"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1670451923204029" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b0ac7ea1dfea7bf5490049b7fb8935df519695f6" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.Help"
            android:label="My Account Help"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.HelpTopics"
            android:label="@string/title_activity_help_topics"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" >
        </activity>
        <activity
            android:name=".activity.MaritalFilter"
            android:label="@string/title_activity_marital_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Filter"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" >
        </activity>
        <activity
            android:name=".activity.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".activity.AfterLogin"
            android:label="@string/title_activity_after_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatFragment.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".activity.FillUserMandatoryFields"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/PinkTheme" />
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/PinkTheme" />
        <activity
            android:name=".activity.VipActivity"
            android:label="@string/title_activity_vip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Boost"
            android:label="@string/title_activity_boost"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" >


        </activity>
        <activity
            android:name=".activity.AppTour.AppTourSlides"
            android:label="Lucky Friend"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.NewPost"
            android:label="@string/title_activity_new_post"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditProfile.MainUserProfile"
            android:label="@string/title_activity_main_user_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfile.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UpdateStatus"
            android:label="@string/title_activity_update_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExtendedProfile.FullExtendedProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CountryFilter"
            android:label="@string/title_activity_country_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.StateFilter"
            android:label="@string/title_activity_state_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditProfile.ImageEdit"
            android:label="@string/title_activity_image_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Mothertongue"
            android:label="@string/title_activity_mothertongue" >
        </activity>
        <activity
            android:name=".activity.MothertongueFilter"
            android:label="@string/title_activity_mothertongue_filter" >
        </activity>
    </application>

</manifest>
